<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Searchbar is nonfunctional-->
  <ion-searchbar></ion-searchbar>

  <hr>
  
  <h3>Recent Searches:</h3>

  <ul>
    <li><!--Insert user's inputs here--></li>
    <li></li>
    <li></li>
  </ul>

  <br>

  <h4>Page visits: {{visits}}</h4>

  <br>
  <br>
  <br>
  <br>

</ion-content>
