<!--
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true" color="secondary">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Fruitipedia</h2>

    <br>
    <ion-button color="light" (click)="visit()">- Search -</ion-button>
    <hr>
    <br>

    <h3>Quick Search</h3>

    <ion-button color="danger" [routerLink]="['/ag']">A - G</ion-button>
    <br>
    <ion-button color="primary" [routerLink]="['/hn']">H - N</ion-button>
    <br>
    <ion-button color="success" [routerLink]="['/ou']">O - U</ion-button>
    <br>
    <ion-button color="warning" [routerLink]="['/vz']">V - Z</ion-button>

  </div>
</ion-content>